* ----------------MEDIA QUERIES--------------------- */
@media screen and (max-width: 1346px) {
    .main-div {
      width: 100%;
    }
  }

@media screen and (min-device-width: 1030px ) and (max-width: 1270px)  {
 
    nav{
        font-size: 10px;
    }

    .logo img{
        width: 110px;
        margin: 10px 0 0 50px;
    }
      
    .nav-items{
        width: 700px;
    }

    .nav-item{
        font-size: 18px;
    }

    .mainHeading{
        width: 500px;
        font-size: 50px;
    }

    .learnMore{
        padding: 10px 20px;
        font-weight: 500;
        font-size: 20px;
        
    }

    /* Card One */
    .cardOne{
        height: 180px;
        width: 200px;
        padding: 10px;
    }
    
    .cardOne img{
        width: 25px;
    }

    .puzzle{
        width: 170px;
        font-size: 16px;
    }

    .imgpuzzle{
        padding: 5px 30px;
        margin: 10px 0 0 20px ;
    }

    .cardTwo{
        height: 180px;
        width: 200px;

    }
    
    .cardTwo img{
        width: 30px;
    }

    .imgBulb{
        padding: 2px 20px;
        margin: 10px 0 0 20px ;
        }
    
    
    .innovation{
        width: 170px;
        padding-left: 20px;
        font-size: 16px;
    }
    

}



@media screen and (max-width: 1030px)
{
    .main-div{
    width: 100vw;
    background-size:auto;

    }

    .logo img{
        width: 110px;
        margin: 10px 0 0 20px;
    }
      
    .nav-items{
        width: 500px;
    }

    .nav-item{
        font-size: 12px;
    }

    .callUs{
        font-size: 12px;
    }

    .navbarCall{
        border-bottom: 1px solid #fff;
        height: 80px;
        font-weight: 200;
    }

    .mainHeading{
        width: 400px;
        font-size: 30px;
    }

    .learnMore{
        padding: 10px 20px;
        font-weight: 500;
        font-size: 15px;
        
    }

    /* Card One */
    .cardOne{
        height: 120px;
        width: 150px;
        
    }
    
    .cardOne img{
        width: 20px;
    }

    .puzzle{
        width: 130px;
        font-size: 12px;
    }

    .imgpuzzle{
        padding: 5px 20px;
        margin: 10px 0 0 20px ;
    }

    .lineOne{
        top: 292px;
        right: 200px;
    }

    .circleOne{
        top: 360px;
        right: 190px;
    }

    .cardTwo{
        height: 140px;
        width: 150px;
        top: 300px;

    }
    
    .cardTwo img{
        width: 20px;
    }

    .imgBulb{
        padding: 2px 20px;
        margin: 10px 0 0 20px ;
        }
    
    
    .innovation{
        width: 130px;
        font-size: 12px;
    }
        
    .lineTwo{
        top: 370px;
        right: 410px;
    }

    .circleTwo{
        top: 400px;
        right: 370px;
    }

}


@media screen and (max-width: 930px){
    .nav-items{
        width: 280px;
        
    }

    .navbarCall{
        justify-content:center ;
        margin-right: 180px;
    }

    .callUs{
        font-size: 8px;
    }

    .cardTwo{
        right: 220px;
    }
    
    .lineTwo{
        right: 430px;
    }

    .circleTwo{
        top: 400px;
        right: 470px;    }

}


@media screen and (max-width: 803px){

    .main_section{
    display: flex;
    flex-direction: column;
              
    }

    .nav-items{
        
        flex-wrap: wrap;
        height: 70px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-right: 20px;    
    }

    .left-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .mainHeading{
        width: auto;
        margin: 50px 0 0 100px;
        font-size: 25px;
    }

    .learnMore{
        font-weight: 300;
        font-size: 12px;
        margin-top: 5px;      
    }

    .cardOne{
        right: 30px;
    }

    .cardTwo{
        left: 100px;
    }

    .lineOne{
        top: 420px;
    }

    .circleOne{
        top: 490px;
    }

    .lineTwo{
        right: 490px;
    }

    .circleTwo{
        right: 430px;
    }
}

@media screen and (max-width: 571px){

    .cardOne{
        top: 250px;
        right: 60px;
    }

    .cardTwo{
        top: 450px;
        right: 100px;
    }

    .lineOne{
        transform: rotate(90deg);
        top: 500px;
        right: 260px;
    }
    .circleOne{
        top: 530px;
        right: 220px;
    }

    .lineTwo{
        right: 370px;
        top: 310px;
    }

    .circleTwo{
        right: 400px;
        top: 340px;
    }

}


