@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url(./Responsive.css);

*{
    padding: 0;
    margin:0
    box-sizing: border-box;   
}

.main-div{
    background: url(./images/M_retro-living-room-interior-design.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
    position: relative;
    
    
}

body {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin:0;
    color: #fff;
 
}

/* Navigation Bar */

nav{
    display: flex;
    justify-content: space-between;
}

.logo{
    margin: 30px 0 0 20px;
}

.nav-items{
    display: flex;
    width: 800px;
    justify-content: space-around;
    margin-right: 70px;    
    cursor: pointer;
}

.nav-item{
    font-size: 20px;
}


.navbarCall{
    display: flex;
    border-bottom: 3px solid #fff;
    align-items: center;
    height: 100px;
    margin: 0 70px 0 0;
    font-weight: 800;
    
  
}

.callUs{
    margin-top: 30px;   
    display: flex;
    margin: 30px 0 30px 10px;
    cursor: pointer;
    
}

.callUs img{
    filter: invert(100%) sepia(51%) saturate(2%) hue-rotate(41deg) brightness(107%) contrast(101%);
}

/* Main Section */
.main_section{
    display: flex;
    justify-content: space-between;
    margin: 20px 50px 0 30px
}

.mainHeading{
    width: 600px;
    font-size: 60px;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
    margin: 80px 0 0 100px;
}

.learnMore{
    padding: 20px 30px;
    border-radius: 50px;
    border: solid 2px #fff;
    font-weight: 700;
    font-size: 25px;
    background-color: transparent;
    color: #fff;
    margin: 50px 0 0 100px;
    cursor: pointer;
}

.right_section{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Puzzle image and content */
.cardOne{
    position: absolute;
    height: 180px;
    width: 320px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 50px 100px;
}

.cardOne img{
    width: 40px;
    border-radius: 50px;
}

.lineOne{
    background-color: #fff;
    height: 80px;
    padding: 1px;
    position: absolute;
    top: 372px;
    right: 250px;    
}

.circleOne{
    position: absolute;
    background-color: #fff;
    height: 10px;
    width: 10px;
    padding: 5px;
    border-radius: 50%;
    top: 450px;
    right: 240px;
}


.puzzle{
    width: 270px;
    padding-left: 20px;
}

.imgpuzzle{
    align-self: flex-start;
    background-color: #fff;
    padding: 5px 40px;
    border-radius: 50px;
    margin: 20px 0 0 30px ;
}

/* Bulb image and content */
.cardTwo{
    position: absolute;
    height: 200px;
    width: 320px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.2); 
    top: 450px;
    right: 450px;   
}

.cardTwo img{
    width: 40px;
    border-radius: 50px;
}

.lineTwo{
    background-color: #fff;
    height: 80px;
    padding: 1px;
    position: absolute;
    transform: rotate(90deg); /*to rotate the line by 90 degrees*/  
    top: 550px;
    right: 410px;    
}

.circleTwo{
    position: absolute;
    background-color: #fff;
    height: 10px;
    width: 10px;
    padding: 5px;
    border-radius: 50%;
    top: 580px;
    right: 350px;
}


.bulb{
    width: 270px;
    padding-left: 20px; 
}

.imgBulb{
    align-self: flex-start;
    background-color: #fff;
    padding: 5px 40px;
    border-radius: 50px;
    margin: 20px 0 0 30px ;
}

.innovation{
    width: 270px;
    padding-left: 20px;
}

